
<section class="view intro-2">
  <div class="jumbotron container welcome-box">
    <div class="alert alert-warning" *ngIf="invalidLogin">{{ errorMessage }}</div>
    <h1 class="h1-responsive">Welcome {{ first_name }}!</h1>
    <p class="lead">According to the privacy agreements of the organizations, we are unable to display all of your
      participating projects.</p>
    <hr class="my-2">
    <p>Please enter your site id to start your project</p>
    <div>
      Site ID: <input type="text" name="site_id" [(ngModel)]="site_id"/>
      <button (click)="handleProjectLogin()" class="btn btn-success" style="margin-left: 25px">Submit</button>
    </div>
  </div>
</section>
