
<section class="view intro-2">
  <div class="jumbotron container confirm-box">
    <p class="lead ">Please confirm the program that you are going to participate in</p>
    <div class="container card" style="background-color: lightgrey">
      <div class="card-body" style="padding-top: 50px; padding-bottom: 50px">
        <h2 class="h1-responsive"><b>{{ project_name }}</b></h2>
      </div>
    </div>

    <div style="margin-top: 20px">
      <button (click)="backWelcome()" class="btn btn-secondary mr-2">Back</button>
      <button (click)="goToSummary()" class="btn btn-success">Start</button>
    </div>
  </div>
</section>
