<section class="view intro-2">
  <div class="jumbotron container confirm-box">
    <p class="h2-responsive" style="text-align: center;">Welcome To The Informed Consent Summary Tool</p>
    <p class="h2-responsive" style="text-align: center;">The Tool Will Be Divided Into Three Sections</p>
    <div class="container card" style="background-color: lightgrey">
      <div class="card-body" style="padding-top: 50px; padding-bottom: 50px">
        <h4><b>1. Explanation of what is a clinical trial</b></h4>
        <h4 style="margin-top: 20px"><b>2. A summary of the informed consent for the clinical trial</b></h4>
        <h4 style="margin-top: 20px"><b>3. A short quiz which will ensure you know about the clinical trial you may sign up for</b></h4>
      </div>
    </div>

    <div style="margin-top: 20px" style="text-align: center; margin-top: 20px;">
      <button (click)="goToEducation()" class="btn btn-success" style="width: 200px;">Start</button>
    </div>
  </div>
</section>
