.intro-2 {
  background: url("../../assets/img/blue-stetoscope.jpg");
  background-size: cover;
  /*text-align: center;*/
}
.view {
  height: 100vh !important;
}
.confirm-box {
  margin-top: 10%;
  opacity: 0.85;
}
