<section class="view intro-2">
  <div class="jumbotron container congrats-box">
    <h2><b>Congratulations!</b></h2>
    <div class="container card" style="background-color: lightgrey">
      <div class="card-body" >
        <h5>You have finish reading the ICF section.</h5>
        <h5>Next, you will answer several questions based on what you just read.</h5>
      </div>
    </div>

    <div class="mt-2">
      <button (click)="backIcfModule()" class="btn btn-secondary mr-2">Back</button>
      <button (click)="goTeachModule()" class="btn btn-success">Start</button>
    </div>
  </div>
</section>
