
<section class="view intro-2">
  <div class="jumbotron container icf-box">
    <h4><b>Inform Consent Form</b></h4>
    <div class="mt-2">
      <select id="voice-names"></select>
      <span style="margin-left: 5%">
       <input class="custom-range" style="width: 150px; padding-top: 10px" id="rate" type="range" min="0.5" max="2" step="0.25" value="{{speakSpeed}}" [(ngModel)]="speakSpeed">
      </span>
      <span style="margin-left: 2%"> Speed: {{speakSpeed}}</span>
      <span style="float: right">
        Status: {{speakStatus}}
      </span>

    </div>
    <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups" style="margin-top: 10px">

      <div class="btn-group mr-2" role="group" aria-label="First group">
        <button mdbBtn type="button" color="default" class="waves-light" mdbWavesEffect (click)="speakClicked()" id="speak-btn" >Speak</button>
        <button mdbBtn type="button" color="default" class="waves-light" mdbWavesEffect (click)="pauseClicked()" id="pause-btn">Pause</button>
        <button mdbBtn type="button" color="default" class="waves-light" mdbWavesEffect (click)="resumeClicked()" id="resume-btn">Resume</button>
        <button mdbBtn type="button" color="default" class="waves-light" mdbWavesEffect (click)="cancelClicked()" id="cancel-btn">Cancel</button>
      </div>
    </div>

    <div class="container card" style="background-color: lightgrey; margin-top: 10px">

        <textarea id="text" rows="17" cols="100" readonly class="card-body" style="background-color: lightgray; border: lightgray">
          {{projectDetailsString}}
        </textarea>
    </div>

    <div class="mt-2">
<!--      <button (click)="backIcfModulePre()" class="btn btn-secondary mr-2">Back</button>-->
      <button (click)="goTeachModulePre()" class="btn btn-success" style="float: right">Next</button>
    </div>

  </div>
</section>
